In [1]:
import pandas as pd
import requests
from datetime import date, datetime, timedelta
from pytz import timezone
from requests.auth import HTTPBasicAuth
from math import radians, sin, cos, asin, sqrt

In [2]:
"""
Definindo funções para uso geral
""" 
def obter_data_atual(string_timezone):
    """Função usada para obter a data atual, a partir de um fuso / timezone pré-definido. Ex.: 'America/Sao_Paulo'"""
    fuso_horario = timezone(string_timezone)
    data_hora_atual = datetime.now().astimezone(fuso_horario)
    return data_hora_atual.strftime("%Y-%m-%d")

def obter_data_futura(string_timezone, num_dias):
    """Função usada para somar o numero de dias passado como parâmetro à data atual considerando o fuso / timezone pré-definido."""
    fuso_horario = timezone(string_timezone)
    data_hora_atual = datetime.now().astimezone(fuso_horario)
    data_hora_futura = data_hora_atual + timedelta(days=num_dias)
    return data_hora_futura.strftime("%Y-%m-%d")

def obter_distancia_km_haversine(lon1, lat1, lon2, lat2):
    """Fórmula de Haversine. Retorna a distância em KM entre 2 pontos geográficos."""
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 6371 * asin(sqrt(a))

In [127]:
# Recuperação de dados de aeroportos
aeroportos = requests.get('http://stub.2xt.com.br/air/airports/pzrvlDwoCwlzrWJmOzviqvOWtm4dkvuc', auth=HTTPBasicAuth('demo', 'swnvlD'))
aeroportos.status_code

200

In [128]:
aeroportos.headers

{'Server': 'nginx/1.12.2', 'Date': 'Mon, 31 Aug 2020 01:59:51 GMT', 'Content-Type': 'text/html; charset=UTF-8', 'Content-Length': '12133', 'Connection': 'keep-alive', 'Etag': '"f48317967fa287944821509ca6cbfcde0348a2bf"'}

In [129]:
# Formato dos dados de aeroporto recuperado
# aeroportos.json()

In [132]:
# Criando o dataframe de aeroportos com suas reespectivas latitudes e longitudes
df_aeroportos = pd.read_json(aeroportos.content, orient='index', encoding='UTF-8')
df_aeroportos.columns = ['cod_aeroporto', 'desc_cidade', 'latitude', 'longitude', 'cod_uf']

In [109]:
# Amostra dos registros iniciais do dataframe
df_aeroportos.head()

    iata           city        lat        lon state
AAX  AAX          Araxa -19.568056 -46.929170    MG
AFL  AFL  Alta Floresta  -9.872456 -56.104767    MT
AJU  AJU        Aracaju -10.987206 -37.072792    SE
AQA  AQA     Araraquara -21.816668 -48.133330    SP
ARU  ARU      Aracatuba -21.143612 -50.426110    SP

In [132]:
# Verificando a quantidade total de registros de aeropotos
df_aeroportos.count()

iata     125
city     125
lat      125
lon      125
state    125
dtype: int64

In [133]:
# print(datetime.now().astimezone(fuso_horario))
# 2020-08-29 21:51:03.446985-03:00
# print(data_hora_atual.strftime("%d/%m/%Y %H:%M"))
# 29/08/2020 21:55

In [134]:
# Recuperando vôos a partir de 40 dias após a data corrente
param_voos = {
    'iata_orig': 'CNF',
    'iata_dest': 'SDU',
    'data_voo': obter_data_futura("America/Sao_Paulo", 40),
    'chave': 'pzrvlDwoCwlzrWJmOzviqvOWtm4dkvuc', 
    'user': 'demo', 
    'pass': 'swnvlD'
}
url_busca = "http://stub.2xt.com.br/air/search/{key}/{orig}/{dest}/{data}".format(
    key=param_voos['chave'], orig=param_voos['iata_orig'], dest=param_voos['iata_dest'], data=param_voos['data_voo'])

voos_encontrados = requests.get(url_busca, auth=HTTPBasicAuth(param_voos['user'], param_voos['pass']))
voos_encontrados.status_code

200

In [135]:
voos_encontrados.headers

{'Server': 'nginx/1.12.2', 'Date': 'Mon, 31 Aug 2020 02:00:00 GMT', 'Content-Type': 'application/json; charset=UTF-8', 'Content-Length': '1526', 'Connection': 'keep-alive', 'Etag': '"1983df073639e3fb71eec3912aabfc582d21f586"'}

In [136]:
# Formato dos dados de voos recuperado
# voos_encontrados.json()

In [137]:
dict_sumario_voo = voos_encontrados.json()["summary"]

In [138]:
list_opcoes_voo = voos_encontrados.json()["options"]

In [139]:
# Recuperando dados de busca do vôo procurado
df_info_busca_efetuada = pd.DataFrame.from_dict(dict_sumario_voo, orient='index')

In [140]:
# Invertendo linhas e colunas
df_info_busca_efetuada = df_info_busca_efetuada.transpose()

In [141]:
df_info_busca_efetuada

,departure_date,from,to,currency,user
0,2020-10-09,"{'iata': 'CNF', 'city': 'Belo Horizonte', 'lat...","{'iata': 'SDU', 'city': 'Rio de Janeiro', 'lat...",BRL,"{'username': 'demo', 'key': 'pzrvlDwoCwlzrWJmO..."

In [142]:
df_info_origem = pd.DataFrame.from_dict(df_info_busca_efetuada['from'].dropna().tolist())
df_info_origem

  iata            city        lat        lon state
0  CNF  Belo Horizonte -19.632418 -43.963215    MG

In [143]:
df_info_destino = pd.DataFrame.from_dict(df_info_busca_efetuada['to'].dropna().tolist())
df_info_destino

  iata            city        lat        lon state
0  SDU  Rio de Janeiro -22.911541 -43.167095    RJ

In [144]:
df_info_user = pd.DataFrame.from_dict(df_info_busca_efetuada['user'].dropna().tolist())
df_info_user

  username                               key     pwd
0     demo  pzrvlDwoCwlzrWJmOzviqvOWtm4dkvuc  swnvlD

In [145]:
df_info_opcoes_voo = pd.DataFrame.from_records(list_opcoes_voo)

In [147]:
raw_list_aeronaves = df_info_opcoes_voo['aircraft'].dropna().tolist()

In [148]:
raw_list_aeronaves

[{'model': 'E-195', 'manufacturer': 'Embraer'},
 {'model': 'A 320', 'manufacturer': 'Airbus'},
 {'model': 'Dash 8', 'manufacturer': 'Bombardier'},
 {'model': '777-200', 'manufacturer': 'Boeing'},
 {'model': '737-800', 'manufacturer': 'Boeing'},
 {'model': 'ATR-72', 'manufacturer': 'Alenia'},
 {'model': 'F-16 Falcon', 'manufacturer': 'Lockheed'}]

In [149]:
df_aeronaves = pd.DataFrame.from_dict(raw_list_aeronaves)

In [150]:
df_aeronaves

         model manufacturer
0        E-195      Embraer
1        A 320       Airbus
2       Dash 8   Bombardier
3      777-200       Boeing
4      737-800       Boeing
5       ATR-72       Alenia
6  F-16 Falcon     Lockheed

In [151]:
df_info_voos = df_info_opcoes_voo.merge(df_aeronaves, left_index=True, right_index=True, how='inner')

In [152]:
df_info_voos = df_info_voos[['departure_time', 'arrival_time', 'fare_price', 'model', 'manufacturer']]

In [153]:
df_info_voos.columns = ['departure_time', 'arrival_time', 'fare_price', 'aircraft_model', 'aircraft_manufacturer']
df_info_voos

,departure_time,arrival_time,fare_price,aircraft_model,aircraft_manufacturer
0,2020-10-09T09:25:00,2020-10-09T09:50:00,296.24,E-195,Embraer
1,2020-10-09T20:15:00,2020-10-09T20:42:00,313.07,A 320,Airbus
2,2020-10-09T18:25:00,2020-10-09T18:58:00,193.40,Dash 8,Bombardier
3,2020-10-09T04:45:00,2020-10-09T05:09:00,253.24,777-200,Boeing
4,2020-10-09T12:40:00,2020-10-09T13:03:00,313.07,737-800,Boeing
5,2020-10-09T22:20:00,2020-10-09T23:08:00,182.19,ATR-72,Alenia
6,2020-10-09T21:55:00,2020-10-09T22:05:00,6053.21,F-16 Falcon,Lockheed

In [155]:
indice = 4

datetime_saida = datetime.strptime(df_info_voos.loc[indice]['departure_time'], '%Y-%m-%dT%H:%M:%S')
datetime_chegada = datetime.strptime(df_info_voos.loc[indice]['arrival_time'], '%Y-%m-%dT%H:%M:%S')
long_aero_1 = df_info_origem.loc[0]['lon']
lat_aero_1 = df_info_origem.loc[0]['lat']
long_aero_2 = df_info_destino.loc[0]['lon']
lat_aero_2 = df_info_destino.loc[0]['lat']
distancia_km = obter_distancia_km_haversine(long_aero_1, lat_aero_1, long_aero_2, lat_aero_2)
tempo_minutos = (datetime_chegada - datetime_saida) / timedelta(minutes=1)

print("Saída: ", datetime_saida)
print("Chegada: ", datetime_chegada)
print("Distância da viagem (em km): ", round(distancia_km, 2))
print("Tempo de viagem (em minutos): ", tempo_minutos)
print("Velocidade média (em km/h) da aeronave {aero} é de {velo}".format(aero=df_info_voos.loc[indice]['aircraft_model'], velo=round((float(distancia_km) / float(tempo_minutos / 60)), 2 )))
print("Preço da tarifa (total) R$: ", df_info_voos.loc[indice]['fare_price']) 
print("Custo da tarifa (por km voado) R$: ", round(df_info_voos.loc[indice]['fare_price'] / distancia_km, 2))

Saída:  2020-10-09 12:40:00
Chegada:  2020-10-09 13:03:00
Distância da viagem (em km):  373.83
Tempo de viagem (em minutos):  23.0
Velocidade média (em km/h) da aeronave 737-800 é de 975.22
Preço da tarifa (total) R$:  313.07
Custo da tarifa (por km voado) R$:  0.84

In [156]:
import itertools

a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in range(20,len(a)+1):
    print(list(itertools.combinations(a,2)))

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (1, 11), (1, 12), (1, 13), (1, 14), (1, 15), (1, 16), (1, 17), (1, 18), (1, 19), (1, 20), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (2, 11), (2, 12), (2, 13), (2, 14), (2, 15), (2, 16), (2, 17), (2, 18), (2, 19), (2, 20), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (3, 11), (3, 12), (3, 13), (3, 14), (3, 15), (3, 16), (3, 17), (3, 18), (3, 19), (3, 20), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (4, 11), (4, 12), (4, 13), (4, 14), (4, 15), (4, 16), (4, 17), (4, 18), (4, 19), (4, 20), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (5, 11), (5, 12), (5, 13), (5, 14), (5, 15), (5, 16), (5, 17), (5, 18), (5, 19), (5, 20), (6, 7), (6, 8), (6, 9), (6, 10), (6, 11), (6, 12), (6, 13), (6, 14), (6, 15), (6, 16), (6, 17), (6, 18), (6, 19), (6, 20), (7, 8), (7, 9), (7, 10), (7, 11), (7, 12), (7, 13), (7, 14), (7, 15), (7, 16), (7, 17), (7, 18), (7, 19), (7, 20), (8, 9), (8, 10), (8, 11), (8, 12), (8, 13), (8, 14), (8, 15), (8, 16), (8, 17), (8, 18), (8, 19), (8, 20), (9, 10), (9, 11), (9, 12), (9, 13), (9, 14), (9, 15), (9, 16), (9, 17), (9, 18), (9, 19), (9, 20), (10, 11), (10, 12), (10, 13), (10, 14), (10, 15), (10, 16), (10, 17), (10, 18), (10, 19), (10, 20), (11, 12), (11, 13), (11, 14), (11, 15), (11, 16), (11, 17), (11, 18), (11, 19), (11, 20), (12, 13), (12, 14), (12, 15), (12, 16), (12, 17), (12, 18), (12, 19), (12, 20), (13, 14), (13, 15), (13, 16), (13, 17), (13, 18), (13, 19), (13, 20), (14, 15), (14, 16), (14, 17), (14, 18), (14, 19), (14, 20), (15, 16), (15, 17), (15, 18), (15, 19), (15, 20), (16, 17), (16, 18), (16, 19), (16, 20), (17, 18), (17, 19), (17, 20), (18, 19), (18, 20), (19, 20)]

In [53]:
import itertools

a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in range(20,len(a)+1):
    print(list(itertools.permutations(a,2)))

[(1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (1, 11), (1, 12), (1, 13), (1, 14), (1, 15), (1, 16), (1, 17), (1, 18), (1, 19), (1, 20), (2, 1), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (2, 11), (2, 12), (2, 13), (2, 14), (2, 15), (2, 16), (2, 17), (2, 18), (2, 19), (2, 20), (3, 1), (3, 2), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (3, 11), (3, 12), (3, 13), (3, 14), (3, 15), (3, 16), (3, 17), (3, 18), (3, 19), (3, 20), (4, 1), (4, 2), (4, 3), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (4, 11), (4, 12), (4, 13), (4, 14), (4, 15), (4, 16), (4, 17), (4, 18), (4, 19), (4, 20), (5, 1), (5, 2), (5, 3), (5, 4), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (5, 11), (5, 12), (5, 13), (5, 14), (5, 15), (5, 16), (5, 17), (5, 18), (5, 19), (5, 20), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 7), (6, 8), (6, 9), (6, 10), (6, 11), (6, 12), (6, 13), (6, 14), (6, 15), (6, 16), (6, 17), (6, 18), (6, 19), (6, 20), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 8), (7, 9), (7, 10), (7, 11), (7, 12), (7, 13), (7, 14), (7, 15), (7, 16), (7, 17), (7, 18), (7, 19), (7, 20), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 9), (8, 10), (8, 11), (8, 12), (8, 13), (8, 14), (8, 15), (8, 16), (8, 17), (8, 18), (8, 19), (8, 20), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 10), (9, 11), (9, 12), (9, 13), (9, 14), (9, 15), (9, 16), (9, 17), (9, 18), (9, 19), (9, 20), (10, 1), (10, 2), (10, 3), (10, 4), (10, 5), (10, 6), (10, 7), (10, 8), (10, 9), (10, 11), (10, 12), (10, 13), (10, 14), (10, 15), (10, 16), (10, 17), (10, 18), (10, 19), (10, 20), (11, 1), (11, 2), (11, 3), (11, 4), (11, 5), (11, 6), (11, 7), (11, 8), (11, 9), (11, 10), (11, 12), (11, 13), (11, 14), (11, 15), (11, 16), (11, 17), (11, 18), (11, 19), (11, 20), (12, 1), (12, 2), (12, 3), (12, 4), (12, 5), (12, 6), (12, 7), (12, 8), (12, 9), (12, 10), (12, 11), (12, 13), (12, 14), (12, 15), (12, 16), (12, 17), (12, 18), (12, 19), (12, 20), (13, 1), (13, 2), (13, 3), (13, 4), (13, 5), (13, 6), (13, 7), (13, 8), (13, 9), (13, 10), (13, 11), (13, 12), (13, 14), (13, 15), (13, 16), (13, 17), (13, 18), (13, 19), (13, 20), (14, 1), (14, 2), (14, 3), (14, 4), (14, 5), (14, 6), (14, 7), (14, 8), (14, 9), (14, 10), (14, 11), (14, 12), (14, 13), (14, 15), (14, 16), (14, 17), (14, 18), (14, 19), (14, 20), (15, 1), (15, 2), (15, 3), (15, 4), (15, 5), (15, 6), (15, 7), (15, 8), (15, 9), (15, 10), (15, 11), (15, 12), (15, 13), (15, 14), (15, 16), (15, 17), (15, 18), (15, 19), (15, 20), (16, 1), (16, 2), (16, 3), (16, 4), (16, 5), (16, 6), (16, 7), (16, 8), (16, 9), (16, 10), (16, 11), (16, 12), (16, 13), (16, 14), (16, 15), (16, 17), (16, 18), (16, 19), (16, 20), (17, 1), (17, 2), (17, 3), (17, 4), (17, 5), (17, 6), (17, 7), (17, 8), (17, 9), (17, 10), (17, 11), (17, 12), (17, 13), (17, 14), (17, 15), (17, 16), (17, 18), (17, 19), (17, 20), (18, 1), (18, 2), (18, 3), (18, 4), (18, 5), (18, 6), (18, 7), (18, 8), (18, 9), (18, 10), (18, 11), (18, 12), (18, 13), (18, 14), (18, 15), (18, 16), (18, 17), (18, 19), (18, 20), (19, 1), (19, 2), (19, 3), (19, 4), (19, 5), (19, 6), (19, 7), (19, 8), (19, 9), (19, 10), (19, 11), (19, 12), (19, 13), (19, 14), (19, 15), (19, 16), (19, 17), (19, 18), (19, 20), (20, 1), (20, 2), (20, 3), (20, 4), (20, 5), (20, 6), (20, 7), (20, 8), (20, 9), (20, 10), (20, 11), (20, 12), (20, 13), (20, 14), (20, 15), (20, 16), (20, 17), (20, 18), (20, 19)]

In [5]:
lista_aeroportos = ['CNF', 'VIX', 'SDU', 'GRU', 'CWB', 'POA', 'FLN', 'AJU', 'NAT', 'THE', 'REC', 'JPA', 'SLZ', 'FOR', 'SSA', 'BPS', 'MAO', 'RBR', 'BEL', 'PMW']

In [7]:
len(lista_aeroportos)

20

In [158]:
df_aeroportos.loc[df_aeroportos.iata[lista_aeroportos]]

    iata            city        lat        lon state
CNF  CNF  Belo Horizonte -19.632418 -43.963215    MG
VIX  VIX         Vitoria -20.256810 -40.289566    ES
SDU  SDU  Rio de Janeiro -22.911541 -43.167095    RJ
GRU  GRU       São Paulo -23.425669 -46.481926    SP
CWB  CWB        Curitiba -25.532200 -49.176544    PR
POA  POA    Porto Alegre -29.989610 -51.177090    RS
FLN  FLN   Florianópolis -27.664446 -48.545200    SC
AJU  AJU         Aracaju -10.987206 -37.072792    SE
NAT  NAT           Natal  -5.916787 -35.250244    RN
THE  THE        Teresina  -5.063350 -42.821087    PI
REC  REC          Recife  -8.131507 -34.917920    PE
JPA  JPA     Joao Pessoa  -7.145357 -34.948160    PA
SLZ  SLZ        São Luis  -2.583316 -44.236683    MA
FOR  FOR       Fortaleza  -3.779073 -38.540836    CE
SSA  SSA        Salvador -12.913988 -38.335197    BA
BPS  BPS    Porto Seguro -16.441158 -39.081097    BA
MAO  MAO          Manaus  -3.031327 -60.046093    AM
RBR  RBR      Rio Branco  -9.966667 -67.800000    AC
BEL  BEL           Belem  -1.389865 -48.480003    PA
PMW  PMW          Palmas -10.241667 -48.352780    TO

In [6]:
lst_combinacoes_voos = []
for i in range(20,len(lista_aeroportos)+1):
    lst_combinacoes_voos.append(list(itertools.combinations(lista_aeroportos,2)))
lst_combinacoes_voos = lst_combinacoes_voos[0]
print("Total de combinações: ", len(lst_combinacoes_voos))

Total de combinações:  190

In [7]:
lst_combinacoes_voos = []
for i in range(20,len(lista_aeroportos)+1):
    lst_combinacoes_voos.append(list(itertools.permutations(lista_aeroportos,2)))
lst_combinacoes_voos = lst_combinacoes_voos[0]
print("Total de permutações: ", len(lst_combinacoes_voos))

Total de permutações:  380

In [9]:
len(lista_aeroportos)

20

In [8]:
len(lista_aeroportos)+1

21

In [3]:
# -*- coding: utf-8 -*-

import pandas as pd
import itertools
import requests
from requests.auth import HTTPBasicAuth
from sqlalchemy import create_engine
from datetime import date, datetime, timedelta
from pytz import timezone
from math import radians, sin, cos, asin, sqrt

"""
Definindo funções para uso geral
""" 
def obter_data_atual(string_timezone):
    """Função usada para obter a data atual, a partir de um fuso / timezone pré-definido. Ex.: 'America/Sao_Paulo'"""
    fuso_horario = timezone(string_timezone)
    data_hora_atual = datetime.now().astimezone(fuso_horario)
    return data_hora_atual.strftime("%Y-%m-%d")

def obter_data_futura(string_timezone, num_dias):
    """Função usada para somar o numero de dias passado como parâmetro à data atual considerando o fuso / timezone pré-definido."""
    fuso_horario = timezone(string_timezone)
    data_hora_atual = datetime.now().astimezone(fuso_horario)
    data_hora_futura = data_hora_atual + timedelta(days=num_dias)
    return data_hora_futura.strftime("%Y-%m-%d")

def obter_distancia_km_haversine(lon1, lat1, lon2, lat2):
    """Fórmula de Haversine. Retorna a distância em KM entre 2 pontos geográficos."""
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2) ** 2 + cos(lat1) * cos(lat2) * sin(dlon / 2) ** 2
    return 2 * 6371 * asin(sqrt(a))


## Importando informações de aeroportos ##

# Variáveis de conexão com API de daods
chave = 'pzrvlDwoCwlzrWJmOzviqvOWtm4dkvuc'
user = 'demo'
password = 'swnvlD'

# Variaveis de conxexão com o banco postgres
pgDatabase = 'bd_belvitur'
pgUser = 'user_belvitur'
pgPassword = 'swnvlD'

print("Importando / atualizando base de dados de aeroportos...", "(", datetime.now().time(), ")")

# Recuperando informações de aeroportos
url_aeroportos = "http://stub.2xt.com.br/air/airports/{key}".format(key=chave)
aeroportos = requests.get(url_aeroportos, auth=HTTPBasicAuth(user, password))

# Criando o dataframe de aeroportos
df_aeroportos = pd.read_json(aeroportos.content, orient='index', encoding='UTF-8')

# Renomeando colunas para o padrão do schema de banco de dados
df_aeroportos.columns = ['cod_aeroporto', 'desc_cidade', 'latitude', 'longitude', 'cod_uf']

# Lista completa de aeroportos (para uso na segunda parte do script, no caso de não se trabalhar com a lista pré-definida)
lista_aeroportos = df_aeroportos.cod_aeroporto.values.tolist()

# Conexao com o banco de dados postgres
url_conexao_banco = "postgresql+psycopg2://{db_user}:{db_pass}@localhost/{db}".format(db_user=pgUser, db_pass=pgPassword, db=pgDatabase)
engineDatabase = create_engine(url_conexao_banco)

# Recuperando informações da chave da tabela de aeroportos
df_chave_aero = pd.read_sql_query('SELECT cod_aeroporto FROM aeroportos', engineDatabase)

# Se não existir dados, insere todos os aeroportos. Caso contrario, insere aeroportos faltantes
if df_chave_aero.empty:
    df_aeroportos.to_sql('aeroportos', engineDatabase, if_exists='append', index=False)
else: 
    # Conventendo codigos de aeroporto encontrados na tabela de aeroportos para string
    cod_iata_db = '|'.join(df_chave_aero.cod_aeroporto.values.tolist()).replace("'", "")

    # Recuperando somente códigos inexistentes na base de dados
    df_aeroportos = df_aeroportos[~df_aeroportos["cod_aeroporto"].str.contains(cod_iata_db)]

    # Inserção dos dados de aeroportos ausentes
    if not df_aeroportos.empty:
        df_aeroportos.to_sql('aeroportos', engineDatabase, if_exists='append', index=False)

        
print("Base de dados de aeroportos importada e/ou atualizada com sucesso!", "(", datetime.now().time(), ")")

#######################################
## Definindo matriz de 20x20 de voos ##
#######################################

print("Importando / atualizando base de dados de voos encontrados...", "(", datetime.now().time(), ")")

# Definindo lista com 20 aeroportos (ocultar se quiser usar a lista completa)
lista_aeroportos = ['CNF', 'VIX', 'SDU', 'GRU', 'CWB', 'POA', 'FLN', 'AJU', 'NAT', 'THE', 'REC', 'JPA', 'SLZ', 'FOR', 'SSA', 'BPS', 'MAO', 'RBR', 'BEL', 'PMW']

# Definindo o numero de dias posteriores a data atual para execucao de pesquisa de voos disponiveis
numero_dias_posterior_data_atual = 40

# Efetuando a permutação dos 20 aeroportos adicionando o resultado em uma nova lista
lst_permutacoes_voos = []
for i in range(len(lista_aeroportos),len(lista_aeroportos)+1):
    lst_permutacoes_voos.append(list(itertools.permutations(lista_aeroportos,2)))
lst_permutacoes_voos = lst_permutacoes_voos[0]

# Definindo data de busca referente à 40 dias após a data atual
data_voo = obter_data_futura("America/Sao_Paulo", numero_dias_posterior_data_atual)

# Criação de lista de dicionários de voos
lst_dict_voos = []

for i in range(0, len(lst_permutacoes_voos)):
    param_voos = {
        'iata_orig': lst_permutacoes_voos[i][0],
        'iata_dest': lst_permutacoes_voos[i][1],
    }
    
    url_busca = "http://stub.2xt.com.br/air/search/{key}/{orig}/{dest}/{data}".format(
    key=chave, orig=param_voos['iata_orig'], dest=param_voos['iata_dest'], data=data_voo)
    
    ## Resultado dos voos encontrados com a combinação ##
    voos_encontrados = requests.get(url_busca, auth=HTTPBasicAuth(user, password))
    
    ## Dicionário com informações de longitude e latitude do par de aeroportos encontrado ##
    dict_sumario_voo = voos_encontrados.json()["summary"]
    
    ## Lista de opções de viagens com informações de data de saída e chegada, preço da tarifa e aeronaves ##
    list_opcoes_voo = voos_encontrados.json()["options"]
    
    ## Recuperando dados de busca do vôo procurado ##
    df_info_busca_efetuada = pd.DataFrame.from_dict(dict_sumario_voo, orient='index')
    # Invertendo linhas e colunas
    df_info_busca_efetuada = df_info_busca_efetuada.transpose()

    # Dataframe com informações do aeroporto de origem 
    df_info_origem = pd.DataFrame.from_dict(df_info_busca_efetuada['from'].dropna().tolist())
    # Dataframe com informações do aeroporto de destino
    df_info_destino = pd.DataFrame.from_dict(df_info_busca_efetuada['to'].dropna().tolist())
    # Dataframe de informações do usuário conectado
    df_info_user = pd.DataFrame.from_dict(df_info_busca_efetuada['user'].dropna().tolist())
    
    # Dataframe com os dados de viagens disponíveis para a data escolhida
    df_info_opcoes_voo = pd.DataFrame.from_records(list_opcoes_voo)
    # Verifica se existem voos disponíveis para continuar
    if not df_info_opcoes_voo.empty:
        # Dataframe de aeronaves das opções de voo
        raw_list_aeronaves = df_info_opcoes_voo['aircraft'].dropna().tolist()
        df_aeronaves = pd.DataFrame.from_dict(raw_list_aeronaves)
    
        # Dataframe de opções de voos concatenado com dataframe de aeronaves disponíveis
        df_info_voos = df_info_opcoes_voo.merge(df_aeronaves, left_index=True, right_index=True, how='inner')
        df_info_voos = df_info_voos[['departure_time', 'arrival_time', 'fare_price', 'model', 'manufacturer']]
        df_info_voos.columns = ['departure_time', 'arrival_time', 'fare_price', 'aircraft_model', 'aircraft_manufacturer']

        ## Calculos ##
        for j in range(0, len(df_info_opcoes_voo)):
            datetime_saida = datetime.strptime(df_info_voos.loc[j]['departure_time'], '%Y-%m-%dT%H:%M:%S')
            datetime_chegada = datetime.strptime(df_info_voos.loc[j]['arrival_time'], '%Y-%m-%dT%H:%M:%S')
            long_aero_1 = df_info_origem.loc[0]['lon']
            lat_aero_1 = df_info_origem.loc[0]['lat']
            long_aero_2 = df_info_destino.loc[0]['lon']
            lat_aero_2 = df_info_destino.loc[0]['lat']
            distancia_km = round(obter_distancia_km_haversine(long_aero_1, lat_aero_1, long_aero_2, lat_aero_2), 2)
            tempo_minutos = (datetime_chegada - datetime_saida) / timedelta(minutes=1)
            custo_tarifa_km = round(df_info_voos.loc[j]['fare_price'] / distancia_km, 2)
            vel_media_km_hora = round((float(distancia_km) / float(tempo_minutos / 60)), 2)
            
            # Definindo dados de registro da iteração em dicionário
            dict_dados_viagem = {
                'cod_aero_origem': df_info_origem.loc[0]['iata'],
                'cod_aero_destino': df_info_destino.loc[0]['iata'],
                'data_referencia': data_voo,
                'url_busca': url_busca, 
                'dist_total_km': distancia_km, 
                'vlr_melhor_tarifa_encontrada': df_info_voos.loc[j]['fare_price'], 
                'desc_modelo_aeronave': df_info_voos.loc[j]['aircraft_model'], 
                'desc_fabricante_aeronave': df_info_voos.loc[j]['aircraft_manufacturer'], 
                'dth_partida': datetime_saida,
                'dth_chegada': datetime_chegada, 
                'vlr_custo_por_km': custo_tarifa_km, 
                'vlr_velocidade_media': vel_media_km_hora, 
                'total_minutos_viagem': tempo_minutos 
            }

            # Adicionando registro de dados à lista de dicionários
            lst_dict_voos.append(dict_dados_viagem)

# Transformando lista de dicionários de voôs para dataframe
df_viagens = pd.DataFrame(lst_dict_voos)

# Contra-prova
# df_viagens.to_excel("planilha_voos.xlsx", sheet_name=data_voo, engine='xlsxwriter')

# Selecionando registros com a melhor tarifa (menor preço) e seus reespectivos modelos de aeronaves
df_viagens = df_viagens.iloc[df_viagens.groupby(['cod_aero_origem', 'cod_aero_destino', 'data_referencia'])['vlr_melhor_tarifa_encontrada'].idxmin()]

# Recuperando informações da chave da tabela de aeroportos
df_chave_voos = pd.read_sql_query('SELECT cod_aero_origem, cod_aero_destino, data_referencia FROM voos_encontrados', engineDatabase)

# Se não existir dados, insere todos os voos encontrados. Caso contrario, insere apenas os voos faltantes.
if df_chave_voos.empty:
    df_viagens.to_sql('voos_encontrados', engineDatabase, if_exists='append', index=False)
else: 
    # Normalizando tipos do dataframe das chaves de voos recuperados do banco de dados
    df_chave_voos.cod_aero_origem = df_chave_voos.cod_aero_origem.astype(str)
    df_chave_voos.cod_aero_destino = df_chave_voos.cod_aero_destino.astype(str)
    df_chave_voos.data_referencia = df_chave_voos.data_referencia.astype(str)

    # Normalizando tipos do dataframe das chaves de voos recuperados da API
    df_viagens.cod_aero_origem = df_viagens.cod_aero_origem.astype(str)
    df_viagens.cod_aero_destino = df_viagens.cod_aero_destino.astype(str)
    df_viagens.data_referencia = df_viagens.data_referencia.astype(str)

    # Copiando coluna de índice do dataframe da API para realização de join de faltantes
    df_viagens['copy_index'] = df_viagens.index

    # Realização de join de dataframes através das colunas chaves buscando os registros coincidentes
    df_voos_coincidentes = pd.merge(df_viagens, df_chave_voos, left_on=['cod_aero_origem', 'cod_aero_destino', 'data_referencia'], right_on=['cod_aero_origem', 'cod_aero_destino', 'data_referencia'], how='inner')

    # Obtendo apenas os registros faltantes através da coluna de índice criada temporariamente
    df_viagens = df_viagens[~df_viagens['copy_index'].isin(df_voos_coincidentes.copy_index.tolist())].drop(columns=['copy_index'])

    # Inserção dos dados de voos ausentes
    if not df_viagens.empty:
        # Importando registros para a base de dados
        df_viagens.to_sql('voos_encontrados', engineDatabase, if_exists='append', index=False)
        
print("Base de dados de voos encontrados importada e/ou atualizada com sucesso!", "(", datetime.now().time(), ")")

Importando / atualizando base de dados de aeroportos... ( 15:37:21.424002 )
Base de dados de aeroportos importada e/ou atualizada com sucesso! ( 15:37:21.756133 )
Importando / atualizando base de dados de voos encontrados... ( 15:37:21.756133 )
Base de dados de voos encontrados importada e/ou atualizada com sucesso! ( 15:38:06.832364 )

In [8]:
# !pip3 install psycopg2
# !pip3 install sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://belvitur:swnvlD@localhost/bd_belvitur')

In [9]:
engine.execute("INSERT INTO aeroportos (cod_aeroporto, desc_cidade, cod_uf, latitude, longitude) VALUES ('CKS', 'Carajas', 'PA', -6.114749, -50.001945)")

In [10]:
# Read
result_set = engine.execute("SELECT * FROM aeroportos")  
for r in result_set:  
    print(r)

('CKS', 'Carajas', 'PA', Decimal('-6.114749'), Decimal('-50.001945'))

In [16]:
df_codigos_aero = pd.read_sql_query('SELECT cod_aeroporto FROM aeroportos', engineAeroportos)
df_codigos_aero

    cod_aeroporto
0             AAX
1             AFL
2             AJU
3             AQA
4             ARU
..            ...
120           LEC
121           FLN
122           IOS
123           BFH
124           SMT

[125 rows x 1 columns]

In [152]:
str(df_codigos_aero.cod_aeroporto.values.tolist()).strip('[]')

"'AAX', 'AFL', 'AJU', 'AQA', 'ARU', 'ATM', 'AUX', 'BAZ', 'BEL', 'BGX', 'CNF', 'PLU', 'BHZ', 'BPG', 'BPS', 'BRA', 'BSB', 'BVB', 'BVH', 'BYO', 'CAC', 'CAU', 'CAW', 'CCM', 'CFB', 'CFC', 'CGB', 'CGR', 'CIZ', 'CKS', 'CLV', 'CMG', 'CPQ', 'VCP', 'CPV', 'CWB', 'CXJ', 'CZS', 'DIQ', 'DOU', 'FBA', 'FEC', 'FEN', 'FOR', 'GEL', 'GVR', 'GYN', 'IMP', 'IPN', 'IRZ', 'ITB', 'JCB', 'IZA', 'JOI', 'JPA', 'JPR', 'JTC', 'LAJ', 'LBR', 'LDB', 'MAB', 'MAO', 'MCP', 'MEA', 'MGF', 'MII', 'MOC', 'MVF', 'NAT', 'NVT', 'OAL', 'OPS', 'PAV', 'PET', 'PFB', 'PGZ', 'PHB', 'PIN', 'PMG', 'PMW', 'PNZ', 'POA', 'POO', 'PPB', 'PVH', 'RAO', 'RBR', 'REC', 'RIA', 'GIG', 'SDU', 'RIO', 'ROO', 'RVD', 'CGH', 'GRU', 'SAO', 'SJL', 'SLZ', 'SJP', 'SSA', 'STM', 'TBT', 'TFF', 'THE', 'TUR', 'TXF', 'UBA', 'UBT', 'UDI', 'URG', 'VAG', 'VAL', 'VDC', 'VIX', 'XAP', 'IGU', 'SJK', 'MCZ', 'JJD', 'LEC', 'FLN', 'IOS', 'BFH', 'SMT'"

In [12]:
df_aeroportos.cod_aeroporto.values.tolist()

['AAX',
 'AFL',
 'AJU',
 'AQA',
 'ARU',
 'ATM',
 'AUX',
 'BAZ',
 'BEL',
 'BGX',
 'CNF',
 'PLU',
 'BHZ',
 'BPG',
 'BPS',
 'BRA',
 'BSB',
 'BVB',
 'BVH',
 'BYO',
 'CAC',
 'CAU',
 'CAW',
 'CCM',
 'CFB',
 'CFC',
 'CGB',
 'CGR',
 'CIZ',
 'CKS',
 'CLV',
 'CMG',
 'CPQ',
 'VCP',
 'CPV',
 'CWB',
 'CXJ',
 'CZS',
 'DIQ',
 'DOU',
 'FBA',
 'FEC',
 'FEN',
 'FOR',
 'GEL',
 'GVR',
 'GYN',
 'IMP',
 'IPN',
 'IRZ',
 'ITB',
 'JCB',
 'IZA',
 'JOI',
 'JPA',
 'JPR',
 'JTC',
 'LAJ',
 'LBR',
 'LDB',
 'MAB',
 'MAO',
 'MCP',
 'MEA',
 'MGF',
 'MII',
 'MOC',
 'MVF',
 'NAT',
 'NVT',
 'OAL',
 'OPS',
 'PAV',
 'PET',
 'PFB',
 'PGZ',
 'PHB',
 'PIN',
 'PMG',
 'PMW',
 'PNZ',
 'POA',
 'POO',
 'PPB',
 'PVH',
 'RAO',
 'RBR',
 'REC',
 'RIA',
 'GIG',
 'SDU',
 'RIO',
 'ROO',
 'RVD',
 'CGH',
 'GRU',
 'SAO',
 'SJL',
 'SLZ',
 'SJP',
 'SSA',
 'STM',
 'TBT',
 'TFF',
 'THE',
 'TUR',
 'TXF',
 'UBA',
 'UBT',
 'UDI',
 'URG',
 'VAG',
 'VAL',
 'VDC',
 'VIX',
 'XAP',
 'IGU',
 'SJK',
 'MCZ',
 'JJD',
 'LEC',
 'FLN',
 'IOS',
 'BFH',
 'SMT']

In [13]:
len(df_aeroportos.cod_aeroporto.values.tolist())

125

In [174]:
# Conventendo codigos de aeroporto encontrado na tabela de aeroporto para string
cod_iata_db = '|'.join(df_codigos_aero.cod_aeroporto.values.tolist()).replace("'", "")
# Recuperando somente códigos inexistentes na base de dados
df_aeroportos = df_aeroportos[~df_aeroportos["cod_aeroporto"].str.contains(cod_iata_db)]

In [208]:
#df_viagens.iloc[df_viagens.groupby('cod_aero_origem, cod_aero_destino, data_referencia')['vlr_melhor_tarifa_encontrada'].idxmax()]
df_viagens.iloc[df_viagens.groupby(['cod_aero_origem', 'cod_aero_destino', 'data_referencia'])['vlr_melhor_tarifa_encontrada'].idxmin()]

,cod_aero_origem,cod_aero_destino,data_referencia,url_busca,dist_total_km,vlr_melhor_tarifa_encontrada,desc_modelo_aeronave,desc_fabricante_aeronave,dth_partida,dth_chegada,vlr_custo_por_km,vlr_velocidade_media,total_minutos_viagem
809,AJU,BEL,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1650.80,1069.05,E-195,Embraer,2020-10-15 08:20:00,2020-10-15 10:11:00,0.65,892.32,111.0
796,AJU,BPS,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,644.06,263.28,Dash 8,Bombardier,2020-10-15 06:20:00,2020-10-15 07:17:00,0.41,677.96,57.0
713,AJU,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1211.98,433.71,Dash 8,Bombardier,2020-10-15 13:15:00,2020-10-15 15:04:00,0.36,667.14,109.0
734,AJU,CWB,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2058.41,1315.73,E-195,Embraer,2020-10-15 19:20:00,2020-10-15 21:38:00,0.64,894.96,138.0
746,AJU,FLN,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2207.58,1074.76,737-800,Boeing,2020-10-15 02:05:00,2020-10-15 04:22:00,0.49,966.82,137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,VIX,REC,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1466.85,510.19,Dash 8,Bombardier,2020-10-15 00:50:00,2020-10-15 03:01:00,0.35,671.84,131.0
119,VIX,SDU,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,419.09,195.77,ATR-72,Alenia,2020-10-15 05:45:00,2020-10-15 06:39:00,0.47,465.66,54.0
171,VIX,SLZ,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2011.33,844.61,E-195,Embraer,2020-10-15 04:20:00,2020-10-15 06:35:00,0.42,893.92,135.0
183,VIX,SSA,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,842.59,348.14,Dash 8,Bombardier,2020-10-15 19:50:00,2020-10-15 21:05:00,0.41,674.07,75.0
157,VIX,THE,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1711.47,908.88,777-200,Boeing,2020-10-15 02:40:00,2020-10-15 04:33:00,0.53,908.75,113.0

In [214]:
# Recuperando informações da chave da tabela de aeroportos
df_chave_voos = pd.read_sql_query('SELECT cod_aero_origem, cod_aero_destino, data_referencia FROM voos_encontrados', engineDatabase)
df_chave_voos.head()

  cod_aero_origem cod_aero_destino data_referencia
0             AJU              BEL      2020-10-15
1             AJU              BPS      2020-10-15
2             AJU              CWB      2020-10-15
3             AJU              FLN      2020-10-15
4             AJU              FOR      2020-10-15

In [295]:
# Normalizando tipos do dataframe das chaves de voos recuperados do banco de dados
df_chave_voos.cod_aero_origem = df_chave_voos.cod_aero_origem.astype(str)
df_chave_voos.cod_aero_destino = df_chave_voos.cod_aero_destino.astype(str)
df_chave_voos.data_referencia = df_chave_voos.data_referencia.astype(str)

# Normalizando tipos do dataframe das chaves de voos recuperados da API
df_viagens.cod_aero_origem = df_viagens.cod_aero_origem.astype(str)
df_viagens.cod_aero_destino = df_viagens.cod_aero_destino.astype(str)
df_viagens.data_referencia = df_viagens.data_referencia.astype(str)

# Copiando coluna de índice do dataframe da API para realização de join de faltantes
df_viagens['copy_index'] = df_viagens.index

# Realização de join de dataframes através das colunas chaves buscando os registros coincidentes
df_voos_coincidentes = pd.merge(df_viagens, df_chave_voos, left_on=['cod_aero_origem', 'cod_aero_destino', 'data_referencia'], right_on=['cod_aero_origem', 'cod_aero_destino', 'data_referencia'], how='inner')

# Obtendo apenas os registros faltantes através da coluna de índice criada temporariamente
df_viagens = df_viagens[~df_viagens['copy_index'].isin(df_voos_coincidentes.copy_index.tolist())].drop(columns=['copy_index'])

,cod_aero_origem,cod_aero_destino,data_referencia,url_busca,dist_total_km,vlr_melhor_tarifa_encontrada,desc_modelo_aeronave,desc_fabricante_aeronave,dth_partida,dth_chegada,vlr_custo_por_km,vlr_velocidade_media,total_minutos_viagem
713,AJU,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1211.98,433.71,Dash 8,Bombardier,2020-10-15 17:10:00,2020-10-15 18:59:00,0.36,667.14,109.0
1813,BEL,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2087.18,1019.96,A 320,Airbus,2020-10-15 03:35:00,2020-10-15 06:05:00,0.49,834.87,150.0
1540,BPS,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,626.31,257.95,Dash 8,Bombardier,2020-10-15 05:45:00,2020-10-15 06:41:00,0.41,671.05,56.0
41,CNF,AJU,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1211.98,324.60,Dash 8,Bombardier,2020-10-15 03:40:00,2020-10-15 05:29:00,0.27,667.14,109.0
96,CNF,BEL,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2087.18,1218.31,E-195,Embraer,2020-10-15 23:25:00,2020-10-16 01:45:00,0.58,894.51,140.0
86,CNF,BPS,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,626.31,220.36,ATR-72,Alenia,2020-10-15 16:15:00,2020-10-15 17:36:00,0.35,463.93,81.0
23,CNF,CWB,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,846.43,273.21,Dash 8,Bombardier,2020-10-15 15:05:00,2020-10-15 16:21:00,0.32,668.23,76.0
35,CNF,FLN,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1007.42,311.86,Dash 8,Bombardier,2020-10-15 15:45:00,2020-10-15 17:15:00,0.31,671.61,90.0
70,CNF,FOR,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1858.37,1194.67,E-195,Embraer,2020-10-15 08:55:00,2020-10-15 11:00:00,0.64,892.02,125.0
16,CNF,GRU,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,495.73,189.01,Dash 8,Bombardier,2020-10-15 15:20:00,2020-10-15 16:04:00,0.38,676.00,44.0
63,CNF,JPA,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1695.40,951.89,737-800,Boeing,2020-10-15 15:30:00,2020-10-15 17:15:00,0.56,968.80,105.0
90,CNF,MAO,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2541.11,1391.79,737-800,Boeing,2020-10-15 14:15:00,2020-10-15 16:53:00,0.55,964.98,158.0
45,CNF,NAT,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1792.68,760.40,E-195,Embraer,2020-10-15 01:30:00,2020-10-15 03:30:00,0.42,896.34,120.0
103,CNF,PMW,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1145.50,345.01,Dash 8,Bombardier,2020-10-15 15:45:00,2020-10-15 17:28:00,0.30,667.28,103.0
29,CNF,POA,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1361.61,478.61,Dash 8,Bombardier,2020-10-15 12:40:00,2020-10-15 14:42:00,0.35,669.64,122.0
92,CNF,RBR,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2774.32,1873.88,A 320,Airbus,2020-10-15 12:40:00,2020-10-15 16:00:00,0.68,832.30,200.0
55,CNF,REC,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1607.77,1043.00,E-195,Embraer,2020-10-15 19:45:00,2020-10-15 21:33:00,0.65,893.21,108.0
12,CNF,SDU,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,373.83,159.75,ATR-72,Alenia,2020-10-15 15:55:00,2020-10-15 16:43:00,0.43,467.29,48.0
66,CNF,SLZ,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1896.01,932.95,A 320,Airbus,2020-10-15 04:55:00,2020-10-15 07:12:00,0.49,830.37,137.0
77,CNF,SSA,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,958.35,271.32,Dash 8,Bombardier,2020-10-15 03:15:00,2020-10-15 04:41:00,0.28,668.62,86.0
50,CNF,THE,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1624.72,785.10,E-195,Embraer,2020-10-15 14:55:00,2020-10-15 16:44:00,0.48,894.34,109.0
5,CNF,VIX,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,390.21,163.68,ATR-72,Alenia,2020-10-15 14:10:00,2020-10-15 15:00:00,0.42,468.25,50.0
427,CWB,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,846.43,324.01,Dash 8,Bombardier,2020-10-15 21:10:00,2020-10-15 22:26:00,0.38,668.23,76.0
618,FLN,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1007.42,372.32,Dash 8,Bombardier,2020-10-15 07:45:00,2020-10-15 09:15:00,0.37,671.61,90.0
1323,FOR,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1858.37,1092.43,E-195,Embraer,2020-10-15 20:30:00,2020-10-15 22:35:00,0.59,892.02,125.0
321,GRU,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,495.73,189.01,Dash 8,Bombardier,2020-10-15 15:40:00,2020-10-15 16:24:00,0.38,676.00,44.0
1125,JPA,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1695.40,1002.76,E-195,Embraer,2020-10-15 11:50:00,2020-10-15 13:44:00,0.59,892.32,114.0
1649,MAO,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2541.11,1315.54,777-200,Boeing,2020-10-15 02:05:00,2020-10-15 04:53:00,0.52,907.54,168.0
820,NAT,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1792.68,1154.91,E-195,Embraer,2020-10-15 10:35:00,2020-10-15 12:35:00,0.64,896.34,120.0
1912,PMW,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1145.50,448.13,Dash 8,Bombardier,2020-10-15 10:55:00,2020-10-15 12:38:00,0.39,667.28,103.0
526,POA,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1361.61,356.03,Dash 8,Bombardier,2020-10-15 01:10:00,2020-10-15 03:12:00,0.26,669.64,122.0
1734,RBR,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,2774.32,1332.71,737-800,Boeing,2020-10-15 02:05:00,2020-10-15 04:57:00,0.48,967.79,172.0
1027,REC,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1607.77,801.76,A 320,Airbus,2020-10-15 03:05:00,2020-10-15 05:01:00,0.50,831.61,116.0
215,SDU,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,373.83,182.19,Dash 8,Bombardier,2020-10-15 12:55:00,2020-10-15 13:28:00,0.49,679.69,33.0
1220,SLZ,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1896.01,800.19,E-195,Embraer,2020-10-15 04:35:00,2020-10-15 06:42:00,0.42,895.75,127.0
1431,SSA,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,958.35,357.59,Dash 8,Bombardier,2020-10-15 21:25:00,2020-10-15 22:51:00,0.37,668.62,86.0
923,THE,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,1624.72,809.48,A 320,Airbus,2020-10-15 02:10:00,2020-10-15 04:07:00,0.50,833.19,117.0
109,VIX,CNF,2020-10-15,http://stub.2xt.com.br/air/search/pzrvlDwoCwlz...,390.21,187.10,Dash 8,Bombardier,2020-10-15 22:25:00,2020-10-15 23:00:00,0.48,668.93,35.0